*{
    box-sizing: border-box;
}
header{
    background-color:#E07A5F;
    text-align: center;
    color: #3D405B;
    padding: 20px;
    font-family: 微軟正黑體;
}
body{
    background-color:#F4F1DE;
    margin:0px;
}
footer{
    background-color: #F2CC8F;
    text-align: center;
    color: #3D405B;
    padding: 10px;
}
main{
    padding: 20px;
}
/*article{
    float: left;
    width:73%
}
aside{
    float: right;
    width:25%
}*/*
.block{
    /*background-color: white;*/
    padding: 20px;
    margin:20px 10px;
    border-radius: 10px;
    background-color: #E07A5F;
    background-size: cover;
}