*{
    box-sizing: border-box;
}
header{
    background:#151515 url("/image/673C0A7F-E965-449A-8D82-336B1FED2FE7.jpg");
    background-size: cover;
    background-color:#D4A373;
    text-align:center;
    color: #3D405B;
    padding: 60px;
    font-family:"Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	opacity: 0.6;
}
nav{
    background-color: #E9EDC9;
    text-align: center;
    font-family: 微軟正黑體
}

nav a {
    padding: 14px 16px;
    display: inline-block;
}

nav a:hover{
    background-color:#D4A373;
    color:white ;
}
body{
    background-color:#FAEDCD;
    margin:0px;
}
footer{
    background-color: #CCD5AE;
    text-align: center;
    color: #3D405B;
    padding: 10px;
    font-family: 'Noto Sans TC',sans-serif !important;;
}
main{
    padding: 20px;
}
article{
    float: left;
    width:55%
}
aside{
    float: right;
    width:35%
}*/
.block{
    background-color: white;
    padding: 20px;
    margin:20px 10px;
    border-radius: 10px;
    background-size: cover;
}
.clearfix{
    clear:both;
}
@media screen and (max-width: 800px){
    article, aside{
        float: none;
        width: 100%;
    }
    .block{
        padding: 10px;
        margin: 15px 0px;
    }
    img{
        max-width: 100%;
        height:90%
    }
}