*{
    box-sizing: border-box;
}
header{
    background:#151515 url("/image/673C0A7F-E965-449A-8D82-336B1FED2FE7.jpg")no-repeat left bottom;
    background-size: cover;
    text-align: center;
    color: #3D405B;
    padding: 80px;
    font-family:"Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	font-size: 1.8rem;
    opacity: 0.6;
}
    nav{
    background-color: #E9EDC9;
    color: #9c6644;
    text-align: center;
    font-family: 微軟正黑體
}

nav a {
    padding: 14px 16px;
    display: inline-block;
}

nav a:hover{
    background-color:#D4A373;
    color:white ;
}
body{
    background-color:#FAEDCD;
    margin:0px;
}
footer{
    background-color: #CCD5AE;
    text-align: center;
    color: #3D405B;
    padding: 10px;
    font-family: 'Noto Sans TC',sans-serif !important;;
}
.about{
    background-color: #E9EDC9;
    padding: 40px;
    margin: 15px 0px;
    border-radius: 10px;
    background-size: cover;
    height: 300px;
}
.skill{
    background-color: #E9EDC9;
    padding: 20px;
    margin:15px 0px;
    border-radius: 10px;
    background-size: cover;
}
.experience{
    background-color: #E9EDC9;
    padding: 15px;
    margin:15px 0px;
    border-radius: 10px;
    background-size: cover;
    height: 900px;
}


/*@media screen and (max-width: 800px){
    article, aside{
        float: left;
        width: 100%;
    }
    .block{
        padding: 10px;
        margin: 15px 0px;
    }
    img{
        max-width: 100%;
        height:90%
    }
}*/